@use './forwards/index' as *
@import './fontawesome/brands'
@import './fontawesome/solid'

/*
 * Allgemeines Styling
 */

*
    margin: 0
    padding: 0
    text-align: justify
    font-family: 'Varela Round', sans-serif
    box-sizing: border-box

html
    scroll-behavior: smooth
    // Hide scrollbar
    -ms-overflow-style: none
    scrollbar-width: none

    &::-webkit-scrollbar
        display: none

body
    @include defaultFlexCenter(column)
    gap: 5rem

q
    padding: .8rem
    font-style: italic
    font-size: $mobileFont
    line-height: 1.95rem
    letter-spacing: .05rem

    &::before
        content: open-quote
        color: $lighterBlack
        font-size: $mobileQuoteSize

    &::after
        content: close-quote
        color: $lighterBlack
        font-size: $mobileQuoteSize

span
    color: #fff
    font-size: 1.4rem
    line-height: 1.5rem

em
    font-weight: bold

a
    text-decoration: none
    color: #fff

p
    font-size: $mobileFont
    line-height: $mobileLineHeight
    letter-spacing: $letterSpacing

h2, h3
    letter-spacing: $boldLetterSpacing

ul
    @include defaultFlexCenter(column)
    align-items: start
    padding: 1.2rem
    gap: 1.3rem

li
    font-size: $mobileFont
    line-height: $listItemLineHeight
    text-align: start
    max-width: 25rem

img
    z-index: $imageIndexZ
    filter: grayscale(1)

label
    padding: .3rem
    font-size: $mobileFont
    font-weight: bold

input, textarea
    width: 90%
    box-shadow: $formShadow
    border: none
    border-radius: 20px
    padding: .5rem 1rem
    background: #eff3f7

footer
    @include defaultFlexCenter(column)
    height: $footerHeight
    width: $footerWidth
    background: $gradient
    border-radius: 30px 30px 0 0
    gap: 10%

    &::before
        @include gradientBackgroundElement(4rem, 100%)
        margin-bottom: 17rem
        transform: rotate(180deg)

/*
 * Navigationsleiste
 * 1) Logo
 * 2) Hamburger-Menü
 * 3) Navigationsleiste
 */

.logo
    @extend .fas
    z-index: $navbarIndexZ
    color: $lighterBlack
    justify-self: flex-end
    font-size: $navbarLogoSize
    transition: $navbarTransition

    &::before
        content: fa-content($fa-var-shield-virus)
    
.hide-logo
    @include hideItem()

.logo.big
    z-index: unset
    font-size: 4rem
    margin-bottom: 2rem

.main-nav
    z-index: $navbarIndexZ
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center
    padding: 0 .5rem
    position: fixed
    width: $navbarMobileWidth
    height: $navbarMobileHeight
    top: 0
    background: #fff
    border-bottom: 4.5px solid
    border-image-slice: 1
    border-image-source: $navbarGradient
    transition: $navbarTransition
    
.show-navbar
    opacity: 1

.hide-navbar
    @include hideItem()

.hide-menu-content
    @include defaultFlexCenter(column)
    position: absolute
    top: -100vh
    width: 100vw
    height: 100vh
    opacity: 0
    transition: 2s

    .navbar-menu-entries
        @include defaultFlexCenter(column)
        list-style: none
        gap: 3rem
        opacity: 0

.show-menu-content
    background: #fff
    transition: 1s
    top: 0
    opacity: 1

    .navbar-menu-entries
        transition: 2s .5s
        opacity: 1

        li
            font-size: $mobileMenuLinksFont
            font-weight: bold

.menu-links
    color: $lighterBlack
    letter-spacing: $letterSpacing

.hide-hamburger-nav-button
    @include hideItem()

.hamburger-nav-button
    @include defaultFlexCenter(column)
    z-index: $navbarIndexZ
    align-items: flex-start
    cursor: pointer
    width: $navbarHamburgerIconSize
    aspect-ratio: 1 / 1
    background: transparent    
    gap: 0.4rem
    border: none
    transition: $navbarTransition
    
.hamburger-open-icon-line
    width: 100%
    height: 0.25rem
    border-radius: 30px
    background: $lighterBlack
    transition: .5s .3s

    &:first-of-type
        width: 1.2rem

    &:nth-of-type(2)
        width: calc(1.2rem + .4rem)
        transition: .5s .7s
            
        &::after
            @include closedIconLine(45deg)
            opacity: 0
            transition: .5s

    &:last-of-type
        width: calc(1.2rem + 2 * .4rem)

.hamburger-closed-icon
    transition: .5s

    &:first-of-type, &:last-of-type
        width: 0
        opacity: 0

    &:nth-of-type(2)
        background: $gradient
        transform: rotate(-45deg)
        transition: .5s .5s

        &::after
            @include closedIconLine(90deg)
            transition: .5s .5s

/*
 * Hauptbereich mit Inhalten
 */

#react-header
    height: 100vh
    width: 100vw

.landing-page
    @include defaultFlexCenter(column)
    max-width: $textWidth
    gap: 2rem

#content
    @include defaultFlexCenter(column)
    width: $contentWidth
    gap: 2.5rem
    margin-top: 5rem
    border: 4px solid
    border-image: $transparentGradient

.white-background-desktop
    // gap unnecessary
    margin-bottom: -2.5rem

    .news-title
        // little space between main title and paragraph
        margin-bottom: 2rem

.text-section
    @include defaultFlexCenter(inherit)
    gap: 2.4rem
    width: 90vw
    max-width: $textWidth
    padding: 0 1rem
    color: lighten(#000, 20%)

.link-to-article
    color: $lighterBlack
    text-decoration: underline
    text-decoration-style: dashed

.image-statistik
    filter: grayscale(0)
    width: 100%
    height: 100%
    min-height: 12rem
    border-radius: 0

    &::before
        @include gradientBackgroundElement(10rem, 20rem)
        z-index: $gradientBgIndexZ

.numbered-bullet-points
    list-style: decimal

.news-title
    font-size: $mobileHeadline
    line-height: $mobileHeadlineLineHeight
    text-align: center

.news-title.italic
    font-style: italic

.news-sub-title
    font-size: $mobileSubHeadline
    line-height: $mobileSubHeadlineLineHeight

.news-image
    width: 100%
    height: 100%

.image-overlay
    z-index: $imageIndexZ
    position: relative
    width: 100%
    min-height: 13rem
    background: $gradient
    border-radius: 30px
    mix-blend-mode: overlay
                
/*
 * Kontaktformular
 */

#contact-form
    @include defaultFlexCenter(column)
    width: $mobileFormWidth
    height: 56rem
    background: #fff
    border-radius: 25px
    padding: 1rem
    gap: 1rem
    margin-top: 2rem

    &::before
        @include gradientBackgroundElement(55rem, 100%)

.custom-textarea
    height: 13rem

.radio
    display: flex
    gap: .7rem
    margin-bottom: 1rem

.button
    @include defaultFlexCenter(row)
    cursor: pointer
    border: none
    border-radius: 40px
    box-shadow: $formShadow
    background: $gradient
    background-size: 120%
    width: 15rem
    height: 3rem
    color: #fff
    font-size: $buttonFont
    font-weight: bold
    margin-top: 1rem

input[type="email"], input[type="text"]
    height: 3.3rem
    margin-bottom: 1rem

label[for="covid-check"]
    font-weight: normal

label:not([for="covid-check"])
    &::after
        content: '*'
        position: absolute
        margin-left: .2rem
        font-size: 1.1rem
        color: #eb4034

/*
 * Footer
 */

#social-media
    @include defaultFlexCenter(column)
    gap: 1rem

#follow-us
    font-size: .9rem
    color: #fff
    font-weight: bold
    letter-spacing: .1rem

.icon-links
    display: flex
    border-radius: 30px
    border: 2px solid #fff
    padding: .6rem 1.2rem
    gap: 1.2rem

.icon
    @extend .fab
    font-size: 1.5rem
    color: #fff

.facebook
    &::before
        content: fa-content($fa-var-facebook)

.instagram
    &::before
        content: fa-content($fa-var-instagram)

.twitter
    &::before
        content: fa-content($fa-var-twitter)

.tiktok
    &::before
        content: fa-content($fa-var-tiktok)

#copyright
    margin: 1rem 0
    font-weight: 600
    font-size: $mobileCopyrightFont
    @extend .fas

    &::before
        content: fa-content($fa-var-shield-virus)
        margin-right: .5rem
        font-size: 2.1rem

#footer-link-collection
    display: grid
    grid-template-areas: 'a a' 'a a'
    grid-gap: .2rem 4rem

/*
 * Media Queries
 * 1) Tablet
 * 2) Desktop
 */

@include tablet

    p, q, li
        font-size: $tabletFont

    p
        line-height: $tabletLineHeight

    q
        line-height: 2.4rem

        &::before, &::after
            font-size: $tabletQuoteSize

    label
        font-size: $tabletFont
        color: #fff

    input, textarea
        max-width: 30rem
        background: #fff

    .main-nav, .hide-menu-content
        width: $mediaNavbarWidth

    .menu-links
        font-size: $tabletMenuLinksFont

    #content
        border-width: 10px

    .logo.big
        font-size: 6rem
        margin-bottom: 2.5rem

    #contact-form
        background: $gradient
        box-shadow: 6px 10px 14px -10px rgba(0,0,0,0.5)

        &::before
            display: none

    .news-title
        font-size: $tabletHeadline
        line-height: $tabletHeadlineLineHeight

    .news-sub-title
        font-size: $tabletSubHeadline
        line-height: $tabletSubHeadlineLineHeight

    #footer-link-collection
        grid-template-areas: 'a a a a a'
        grid-gap: 0 2rem

@include desktop

    p
        font-size: $desktopFont
        line-height: $desktopLineHeight

    q
        font-size: 1.6rem

        &::before, &::after
            font-size: 2.7rem

    li
        font-size: $desktopFont
        
    ul:not(.navbar-menu-entries)
        @include defaultFlexCenter(row)
        align-items: start
        gap: 5rem
        background: $gradient
        color: #fff
        width: inherit
        padding: 5rem
        border: 4px solid
        border-image-slice: 1
        border-image-source: $navbarGradient

    input, textarea
        max-width: 30rem
        background: #fff

    label
        color: #fff

    footer
        flex-direction: row
        height: $desktopFooterHeight

        &::before
            margin-bottom: 9rem

    .gradient-spot
        &::after
            @include gradientBackgroundSpot(100vh, 100vw)
            z-index: $gradientSpotIndexZ
            top: 0

    .logo, .hamburger-nav-button
        font-size: 2rem

    .main-nav
        height: 5rem
        width: $mediaNavbarWidth
        padding: 0 1rem

    .hide-menu-content
        width: $mediaNavbarWidth

    .show-menu-content
        .navbar-menu-entries
            gap: 4rem

    .menu-links
        font-size: 2.2rem

    #content
        // shift content with text away from header
        margin-top: 7rem

    .landing-page
        @include defaultFlexCenter(column)
        gap: 3rem
        height: 100vh
        width: 100vw
        color: #fff
        // reset margin-top to center title
        margin-top: -7rem

    .white-background-desktop
        background: #fff
        padding: 3rem
        border-radius: 30px
        opacity: .95

        & > *
            color: $lighterBlack

        .news-title
            margin-bottom: 4rem

    .nav-arrow-down
        @include navArrowDown(#fff)

    .nav-arrow-down.black
        background: $lighterBlack
        opacity: .6

    #text-section
        width: 100%
        border-width: 7px

    .news-image
        filter: blur(2px) grayscale(1)

    .image-overlay
        position: absolute
        top: 0
        left: 0
        border-radius: 0
        height: 100vh
        filter: saturate(.6)

    .news-title
        font-size: $desktopHeadline
        line-height: $desktopHeadlineLineHeight

    .news-sub-title
        font-size: $desktopSubHeadline
        line-height: $desktopSubHeadlineLineHeight

    .news-sub-title.summary
        @include defaultFlexCenter(row)

        &::before
            @include summaryTitleStyle(-50%)
            
        &::after
            @include summaryTitleStyle(50%)

    #contact-form
        width: $desktopFormWidth
        border-radius: 0

    #copyright
        font-size: $desktopCopyrightFont
        order: 2

@include supportsHover