// Text
$defaultTitle: 1.5rem
$defaultText: 1.3rem
$defaultLineHeight: 2rem
$defaultMenu: 1.7rem
$defaultMenuTablet: 2rem

// Transitions
$transformTransition: transform linear .5s
$defaultTransition: all linear .5s
$navbarTransition: all ease-in-out .3s

// Gradients
$gradient: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4)
$transparent-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0), #7f7fd5, #86a8e7, #91eae4, rgba(0, 0, 0, 0)) 1 100%
$navbar-gradient: linear-gradient(to right, #fff, #7f7fd5, #86a8e7, #91eae4, #fff)
$text-gradient: linear-gradient(to right, #7f7fd5,#91eae4)

// Colors
$lighterBlack: lighten(#000, 20%)